{% extends 'base.html' %}
{% block title %}Eliher Giorgana Blog{% endblock %}
{% block content %}
<div class="container">
    <h1>Home Page!!</h1>
    <br/>
    <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nostrum distinctio exercitationem eaque,
        autem eos veniam consectetur aliquid laudantium magnam, nesciunt omnis suscipit tenetur voluptates nam ad vel
        quidem ullam.
        Unde libero iste consequatur fugiat. Sit doloremque sint provident iure, repudiandae accusamus. Praesentium
        minima porro minus magni soluta explicabo, culpa doloribus velit deserunt impedit quibusdam corporis officia,
        necessitatibus, voluptatem eligendi.
        Reprehenderit tempore praesentium nobis a, earum, odio deleniti ratione laudantium sed hic magni porro ipsum
        libero reiciendis aperiam. Laboriosam sint consectetur obcaecati! Quas consectetur minus assumenda ratione
        distinctio veniam voluptatem!
        Culpa voluptatibus voluptatum quae quas eaque suscipit dolor iure libero, nisi fugit officiis cumque amet?
        Dignissimos beatae nam perspiciatis in assumenda ratione adipisci commodi tenetur laboriosam. Libero in soluta
        eius!
        Error vero adipisci omnis. Excepturi sint, repudiandae aperiam commodi saepe eum suscipit tenetur tempore, odio
        molestiae recusandae natus iusto nemo adipisci minus corrupti ipsum nam omnis? Vitae nihil ipsam dolor!
        Nemo maxime dolores amet id, delectus nulla commodi consequatur error ipsam! Praesentium neque porro ratione
        similique asperiores fuga dolores, est dolore voluptatem fugit nostrum dicta pariatur at minima facere
        excepturi!
        Fuga, optio non! Ducimus qui explicabo minima nulla, commodi optio, mollitia nemo aliquam nostrum animi sed
        blanditiis maxime aspernatur dolorum? Temporibus, commodi dolor excepturi amet ratione delectus animi fuga
        porro?
        Ipsa itaque deserunt atque dignissimos quisquam ducimus at quaerat nam sequi ab sunt odio, mollitia qui eius
        nobis consectetur quos, aliquam officia quidem soluta debitis? Molestias doloremque quaerat vel ea.
        Amet ducimus molestias, architecto facere nisi necessitatibus exercitationem, error ab similique voluptate
        aspernatur! Adipisci modi laboriosam eius dolores? Explicabo accusamus ab nobis qui iure deserunt praesentium
        quia deleniti repellat atque?
        Culpa ea, iure doloremque beatae ipsum harum ducimus. Odit libero voluptatum ad unde! Architecto necessitatibus
        veritatis nam enim nostrum, esse rerum illum laudantium ab deserunt earum aperiam quam molestias minima.
        Obcaecati, dolorum, ea inventore maiores velit id optio, in officiis architecto possimus quas placeat. Laborum,
        repellendus non, accusantium excepturi quos adipisci libero nemo dignissimos repellat provident qui accusamus
        aperiam ducimus.
        Dolor quae quis quas ipsam consequuntur blanditiis molestiae, ex autem deleniti commodi id architecto nesciunt,
        nemo eveniet qui culpa a quisquam rerum eius magnam! Quam omnis hic aspernatur neque molestias!
        Provident, pariatur vero? Numquam cum fugit cumque debitis. Deleniti quidem vitae delectus exercitationem
        voluptatem alias nam amet, libero commodi reiciendis dolorem natus ea! Cupiditate sit architecto nulla
        repellendus dolor tempore.
        Earum dignissimos tempora ipsum repellat! Magni voluptatibus rem ad voluptates at, ratione dolores itaque nobis
        quidem inventore eos facilis tempore eum obcaecati facere distinctio impedit a optio, maxime, quod nihil?
        Sit qui ipsum ab quam similique. Iste, odio aspernatur. Et culpa voluptas quidem tempore id illo rerum
        repellendus, illum cum quam ipsum unde deserunt non expedita, repudiandae perspiciatis iusto? Cupiditate!
        Eos, quod magnam amet assumenda totam vel ad sapiente recusandae nesciunt doloremque quidem iusto, quos enim
        temporibus? Repudiandae, maiores sint. Reiciendis exercitationem porro nulla ducimus officia, et unde quasi
        laudantium?
        Asperiores, saepe! Totam debitis odit commodi laboriosam doloribus nemo qui quas optio, sunt sit dolorem nisi
        aperiam ratione fuga blanditiis. Ea distinctio harum non laudantium esse libero ducimus qui in.
        Cum quam aspernatur quae inventore, at et perferendis asperiores tempore neque ratione deleniti nihil doloribus
        culpa amet debitis esse rerum reiciendis illum cumque vero ipsam odit officiis similique alias! Incidunt?
        Illum debitis ipsam aut atque minima aliquam exercitationem, ipsa et tempora dolore doloribus modi quibusdam,
        quia illo natus. Qui ducimus maiores delectus fugit quas ullam quia iusto eaque assumenda. Ipsum?
        Optio molestias, in, quaerat quo quia similique eos voluptate quae provident magnam incidunt reiciendis officiis
        libero deserunt maxime sapiente saepe? Rem iusto commodi qui facilis provident, consectetur eius eveniet nulla?
    </b></p>
    <img src="{{ url_for('static', filename='img/two.jpg') }}" alt="drugs" width="700" height="800">
</div>
{% endblock %}